.element__like {
    min-width: 22px;
    max-height: 22px;
    object-fit: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    background-image: url(../../../images/like.svg);
}

.element__like:hover {
    opacity: 0.5;
}
