.profile__edit-button {
    background-color: #000000;
    background-image: url(../../../images/edit-button.png);
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    background-position: center;
    align-self: flex-end;
    min-width: 24px;
    min-height: 24px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
        object-fit: contain;
        padding: 0;
        margin-top: 0;
    }
}
