.popup__container {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 430px;
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

@media screen and (max-width: 600px) {
    .popup__container {
        margin-top: 123px;
        max-width: 282px;
    }
}
