.header {
    margin: 45px 0 0;
    max-width: 100%;
    border-bottom: 1px solid #545454;
    padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header {
        padding-bottom: 31.6px;
        margin-top: 28px;
    }
}
