.popup__close {
    position: absolute;
    margin-top: -40px;
    margin-right: -475px;
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    background-color: #000000;
    background-image: url(../../../images/close-icon.svg);
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        margin-top: -36px;
        margin-right: -260px;
        min-width: 20px;
        min-height: 20px;
    }
}
